/*!
 * CStrap v1.0.0
 * Homepage: https://strap.concise.cc
 * Licensed under MIT
 * Section: CStrap Buttons
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --dark: #20262E;
  --light: #EFEFF0;
  --cloud: #f8f9fa;
  --clouds: #f0f0f0;
  --milk: #dce1eb;
  --amilk: #d8d8d8;
  --bmilk: #c5c5c5;
  --grey: #8d8d8d;
  --fade: #6c757d;
  --agrey: #828282;
  --bgrey: #30373d;
  --green: #00cc00;
  --agreen: #00ee00;
  --bgreen: #5cb85c;
  --yell: #ffcc00;
  --ayell: #ffbb55;
  --byell: #f0ad4e;
  --orange: #ff7e22;
  --aorange: #e67e22;
  --cyan: #00e6e6;
  --acyan: #00b3b3;
  --byan: #1DDDBD;
  --blue: #0080ff;
  --btnblue: #0b5ed7;
  --ablue: #287bff;
  --bblue: #536878;
  --cblue: #708090;
  --dblue: #536872;
  --eblue: #1b3752;
  --pink: #ff00ff;
  --apink: #ff00cc;
  --red: #dc3545;;
  --purp: #9b59b6;
  --apurp: #7380ec;
  --info: #17a2b8;
  --danger: #ff5782;
  --warning: #ffc107;
  --sea: #009688;

  --font-main:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-mono:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-p:Poppins,sans-serif,Arial,Helvetica,sans-serif;
  --font-n:Nunito,sans-serif,Arial,Helvetica,sans-serif;

  --hover-light: rgba(112,139,200,0.18);
  --hover-dark: rgba(0,0,0,0.25);
  --hoverbs: var(--hover-dark);
  --boxhad-l: 0 2rem 3rem var(--hover-light);
  --boxhad-d: 0 0 0 10px rgba(0,0,0,0.25);
  --hovershad-l: 0 2rem 3rem var(--hover-light);
  --hovershad-d: 0 0 10px rgba(0,0,0,0.25);
}

/* ====>  DEFAULT BUTTON STYLE  <==== */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #000;
  text-align: center;
  box-shadow: var(--boxhad-d);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  font-family: var(--font-p);
}

.btn:hover {
  transform: scale(1.01);
  box-shadow: var(--hovershad-d);
}


/* ====>  STYLED BUTTONS  <==== */


/** BlueButton */

.btn-blue {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
  transition: all 0.15s ease-in-out;
}

.btn-blue:hover {
  color: #fff;
  background-color: var(--ablue);
  border-color: var(--ablue);
  transform: scale(1.01);
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 123, 255, 0.5);
  transform: scale(1);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active, .show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: var(--dblue);
  border-color: var(--dblue);
  transform: scale(1.01);
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 123, 255, 0.5);
  transform: scale(1);
}


/** GreenButton */

.btn-green {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
  transition: all 0.15s ease-in-out;
}

.btn-green:hover {
  color: #fff;
  background-color: var(--agreen);
  border-color: var(--agreen);
  transform: scale(1.01);
}

.btn-green:focus, .btn-green.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 223, 55, 0.5);
  transform: scale(1);
}

.btn-green.disabled, .btn-green:disabled {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active, .show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: var(--bgreen);
  border-color: var(--bgreen);
  transform: scale(1.01);
}

.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus, .show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 223, 55, 0.5);
  transform: scale(1);
}


/** CyanButton */

.btn-cyan {
  color: #fff;
  background-color: var(--cyan);
  border-color: var(--cyan);
  transition: all 0.15s ease-in-out;
}

.btn-cyan:hover {
  color: #fff;
  background-color: var(--acyan);
  border-color: var(--acyan);
  transform: scale(1.01);
}

.btn-cyan:focus, .btn-cyan.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 223, 255, 0.5);
  transform: scale(1);
}

.btn-cyan.disabled, .btn-cyan:disabled {
  color: #fff;
  background-color: var(--cyan);
  border-color: var(--cyan);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-cyan:not(:disabled):not(.disabled):active, .btn-cyan:not(:disabled):not(.disabled).active, .show > .btn-cyan.dropdown-toggle {
  color: #fff;
  background-color: var(--bcyan);
  border-color: var(--bcyan);
  transform: scale(1.01);
}

.btn-cyan:not(:disabled):not(.disabled):active:focus, .btn-cyan:not(:disabled):not(.disabled).active:focus, .show > .btn-cyan.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 223, 255, 0.5);
  transform: scale(1);
}


/** RedButton */

.btn-red {
  color: #fff;
  background-color: var(--red);
  border-color: var(--red);
  transition: all 0.15s ease-in-out;
}

.btn-red:hover {
  color: #fff;
  background-color: var(--ared);
  border-color: var(--ared);
  transform: scale(1.01);
}

.btn-red:focus, .btn-red.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 40, 40, 0.5);
  transform: scale(1);
}

.btn-red.disabled, .btn-red:disabled {
  color: #fff;
  background-color: var(--red);
  border-color: var(--red);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active, .show > .btn-red.dropdown-toggle {
  color: #fff;
  background-color: var(--bred);
  border-color: var(--bred);
  transform: scale(1.01);
}

.btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus, .show > .btn-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 40, 40, 0.5);
  transform: scale(1);
}


/** YellowButton */

.btn-yellow {
  color: #fff;
  background-color: var(--yellow);
  border-color: var(--yellow);
  transition: all 0.15s ease-in-out;
}

.btn-yellow:hover {
  color: #fff;
  background-color: var(--ayellow);
  border-color: var(--ayellow);
  transform: scale(1.01);
}

.btn-yellow:focus, .btn-yellow.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 40, 0.5);
  transform: scale(1);
}

.btn-yellow.disabled, .btn-yellow:disabled {
  color: #fff;
  background-color: var(--yellow);
  border-color: var(--yellow);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-yellow:not(:disabled):not(.disabled):active, .btn-yellow:not(:disabled):not(.disabled).active, .show > .btn-yellow.dropdown-toggle {
  color: #fff;
  background-color: var(--byellow);
  border-color: var(--byellow);
  transform: scale(1.01);
}

.btn-yellow:not(:disabled):not(.disabled):active:focus, .btn-yellow:not(:disabled):not(.disabled).active:focus, .show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 40, 0.5);
  transform: scale(1);
}


/** PurpleButton */

.btn-purple {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
  transition: all 0.15s ease-in-out;
}

.btn-purple:hover {
  color: #fff;
  background-color: var(--apurple);
  border-color: var(--apurple);
  transform: scale(1.01);
}

.btn-purple:focus, .btn-purple.focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 100, 255, 0.5);
  transform: scale(1);
}

.btn-purple.disabled, .btn-purple:disabled {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active, .show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: var(--bpurple);
  border-color: var(--bpurple);
  transform: scale(1.01);
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus, .show > .btn-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 100, 255, 0.5);
  transform: scale(1);
}


/** PinkButton */

.btn-pink {
  color: #fff;
  background-color: var(--pink);
  border-color: var(--pink);
  transition: all 0.15s ease-in-out;
}

.btn-pink:hover {
  color: #fff;
  background-color: var(--apink);
  border-color: var(--apink);
  transform: scale(1.01);
}

.btn-pink:focus, .btn-pink.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 30, 255, 0.5);  rgba(200, 100, 255, 0.5);
  transform: scale(1);
}

.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: var(--pink);
  border-color: var(--pink);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active, .show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: var(--bpink);
  border-color: var(--bpink);
  transform: scale(1.01);
}

.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus, .show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 40, 255, 0.5);
  transform: scale(1);
}


/** OrangeButton */

.btn-orange {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
  transition: all 0.15s ease-in-out;
}

.btn-orange:hover {
  color: #fff;
  background-color: var(--aorange);
  border-color: var(--aorange);
  transform: scale(1.01);
}

.btn-orange:focus, .btn-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 40, 0.5);
  transform: scale(1);
}

.btn-orange.disabled, .btn-orange:disabled {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active, .show > .btn-orange.dropdown-toggle {
  color: #fff;
  background-color: var(--borange);
  border-color: var(--borange);
  transform: scale(1.01);
}

.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus, .show > .btn-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 40, 0.5);
  transform: scale(1);
}

/* ====>  SPECIAL EFFECT BUTTONS  <==== */

/** BlueSpecial */

.btn-blue-s {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
  transition: all 0.15s ease-in-out;
}

.btn-blue-s:hover {
  color: var(--blue);
  background-color: var(--light);
  border-color: var(--blue);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(40, 40, 255, 0.5);
}

.btn-blue-s:focus, .btn-blue-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 223, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--blue), var(--light));
}

.btn-blue-s.disabled, .btn-blue-s:disabled {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-blue-s:not(:disabled):not(.disabled):active, .btn-blue-s:not(:disabled):not(.disabled).active, .show > .btn-blue-s.dropdown-toggle {
  color: var(--blue);
  background-color: var(--light);
  border-color: var(--blue);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(40, 40, 255, 0.5);
}

.btn-blue-s:not(:disabled):not(.disabled):active:focus, .btn-blue-s:not(:disabled):not(.disabled).active:focus, .show > .btn-blue-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 223, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--blue), var(--light));
}


/** CyanSpecial */

.btn-cyan-s {
  color: #fff;
  background-color: var(--cyan);
  border-color: var(--cyan);
  transition: all 0.15s ease-in-out;
}

.btn-cyan-s:hover {
  color: var(--cyan);
  background-color: var(--light);
  border-color: var(--cyan);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 255, 0.5);
}

.btn-cyan-s:focus, .btn-cyan-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--cyan), var(--light));
}

.btn-cyan-s.disabled, .btn-cyan-s:disabled {
  color: #fff;
  background-color: var(--cyan);
  border-color: var(--cyan);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-cyan-s:not(:disabled):not(.disabled):active, .btn-cyan-s:not(:disabled):not(.disabled).active, .show > .btn-cyan-s.dropdown-toggle {
  color: var(--cyan);
  background-color: var(--light);
  border-color: var(--cyan);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 255, 0.5);
}

.btn-cyan-s:not(:disabled):not(.disabled):active:focus, .btn-cyan-s:not(:disabled):not(.disabled).active:focus, .show > .btn-cyan-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--cyan), var(--light));
}


/** GreenSpecial */

.btn-green-s {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
  transition: all 0.15s ease-in-out;
}

.btn-green-s:hover {
  color: var(--green);
  background-color: var(--light);
  border-color: var(--green);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 40, 0.5);
}

.btn-green-s:focus, .btn-green-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 40, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--green), var(--light));
}

.btn-green-s.disabled, .btn-green-s:disabled {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-green-s:not(:disabled):not(.disabled):active, .btn-green-s:not(:disabled):not(.disabled).active, .show > .btn-green-s.dropdown-toggle {
  color: var(--green);
  background-color: var(--light);
  border-color: var(--green);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 40, 0.5);
}

.btn-green-s:not(:disabled):not(.disabled):active:focus, .btn-green-s:not(:disabled):not(.disabled).active:focus, .show > .btn-green-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 255, 40, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--green), var(--light));
}


/** RedSpecial */

.btn-red-s {
  color: #fff;
  background-color: var(--red);
  border-color: var(--red);
  transition: all 0.15s ease-in-out;
}

.btn-red-s:hover {
  color: var(--red);
  background-color: var(--light);
  border-color: var(--red);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 40, 40, 0.5);
}

.btn-red-s:focus, .btn-red-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 40, 40, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--red), var(--light));
}

.btn-red-s.disabled, .btn-red-s:disabled {
  color: #fff;
  background-color: var(--red);
  border-color: var(--red);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-red-s:not(:disabled):not(.disabled):active, .btn-red-s:not(:disabled):not(.disabled).active, .show > .btn-red-s.dropdown-toggle {
  color: var(--red);
  background-color: var(--light);
  border-color: var(--red);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 40, 40, 0.5);
}

.btn-red-s:not(:disabled):not(.disabled):active:focus, .btn-red-s:not(:disabled):not(.disabled).active:focus, .show > .btn-red-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 40, 40, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--red), var(--light));
}


/** YellowSpecial */

.btn-yellow-s {
  color: #fff;
  background-color: var(--yellow);
  border-color: var(--yellow);
  transition: all 0.15s ease-in-out;
}

.btn-yellow-s:hover {
  color: var(--yellow);
  background-color: var(--light);
  border-color: var(--yellow);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 40, 0.5);
}

.btn-yellow-s:focus, .btn-yellow-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 40, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--yellow), var(--light));
}

.btn-yellow-s.disabled, .btn-yellow-s:disabled {
  color: #fff;
  background-color: var(--yellow);
  border-color: var(--yellow);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-yellow-s:not(:disabled):not(.disabled):active, .btn-yellow-s:not(:disabled):not(.disabled).active, .show > .btn-yellow-s.dropdown-toggle {
  color: var(--yellow);
  background-color: var(--light);
  border-color: var(--yellow);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 40, 0.5);
}

.btn-yellow-s:not(:disabled):not(.disabled):active:focus, .btn-yellow-s:not(:disabled):not(.disabled).active:focus, .show > .btn-yellow-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 40, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--yellow), var(--light));
}


/** PurpleSpecial */

.btn-purple-s {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
  transition: all 0.15s ease-in-out;
}

.btn-purple-s:hover {
  color: var(--purple);
  background-color: var(--light);
  border-color: var(--purple);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(200, 100, 255, 0.5);
}

.btn-purple-s:focus, .btn-purple-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 100, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--purple), var(--light));
}

.btn-purple-s.disabled, .btn-purple-s:disabled {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-purple-s:not(:disabled):not(.disabled):active, .btn-purple-s:not(:disabled):not(.disabled).active, .show > .btn-purple-s.dropdown-toggle {
  color: var(--purple);
  background-color: var(--light);
  border-color: var(--purple);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(200, 100, 255, 0.5);
}

.btn-purple-s:not(:disabled):not(.disabled):active:focus, .btn-purple-s:not(:disabled):not(.disabled).active:focus, .show > .btn-purple-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 100, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--purple), var(--light));
}


/** PinkSpecial */

.btn-pink-s {
  color: #fff;
  background-color: var(--pink);
  border-color: var(--pink);
  transition: all 0.15s ease-in-out;
}

.btn-pink-s:hover {
  color: var(--pink);
  background-color: var(--light);
  border-color: var(--pink);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 30, 255, 0.5);
}

.btn-pink-s:focus, .btn-pink-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 30, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--pink), var(--light));
}

.btn-pink-s.disabled, .btn-pink-s:disabled {
  color: #fff;
  background-color: var(--pink);
  border-color: var(--pink);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-pink-s:not(:disabled):not(.disabled):active, .btn-pink-s:not(:disabled):not(.disabled).active, .show > .btn-pink-s.dropdown-toggle {
  color: var(--pink);
  background-color: var(--light);
  border-color: var(--pink);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 30, 255, 0.5);
}

.btn-pink-s:not(:disabled):not(.disabled):active:focus, .btn-pink-s:not(:disabled):not(.disabled).active:focus, .show > .btn-pink-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 30, 255, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--pink), var(--light));
}


/** OrangeSpecial */

.btn-orange-s {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
  transition: all 0.15s ease-in-out;
}

.btn-orange-s:hover {
  color: var(--orange);
  background-color: var(--light);
  border-color: var(--orange);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 0, 0.5);
}

.btn-orange-s:focus, .btn-orange-s.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 0, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--orange), var(--light));
}

.btn-orange-s.disabled, .btn-orange-s:disabled {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
  opacity: 0.65;
  border: 2px solid var(--dark);
  box-shadow: none;
}

.btn-orange-s:not(:disabled):not(.disabled):active, .btn-orange-s:not(:disabled):not(.disabled).active, .show > .btn-orange-s.dropdown-toggle {
  color: var(--orange);
  background-color: var(--light);
  border-color: var(--orange);
  transform: scale(1.01);
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 0, 0.5);
}

.btn-orange-s:not(:disabled):not(.disabled):active:focus, .btn-orange-s:not(:disabled):not(.disabled).active:focus, .show > .btn-orange-s.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 0, 0.5);
  transform: scale(1);
  background-color: linear-gradient(45deg, var(--orange), var(--light));
}


/* ====>  BUTTON STYLE OVERRIDES  <==== */

.no-shadow {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.bg-transparent {
  background-color: transparent !important
}

.btn-border-dark {
  border-color: var(--dark) !important
}

.btn-border-dark:hover {
  border-color: var(--dark)
}

.btn-border-dark:focus {
  border-color: var(--dark)
}

.btn-border-dark:active {
  border: calc(border-width + 1) solid var(--dark) !important
}

.btn-border-dark:disabled {
  border-color: var(--dark) !important
}

.btn-border-dark:hover:disabled {
  border-color: var(--dark) !important
}

.btn-border-dark:focus:disabled {
  border-color: var(--dark) !important
}

.btn-border-dark:active:disabled {
  border-color: var(--dark) !important
}

.btn-border-light {
  border-color: var(--light) !important
}

.btn-border-light:hover {
  border-color: var(--light)
}

.btn-border-light:focus {
  border-color: var(--light)
}

.btn-border-light:active {
  border: calc(border-width + 1) solid var(--light) !important
}

.btn-border-light:disabled {
  border-color: var(--light) !important
}

.btn-border-light:hover:disabled {
  border-color: var(--light) !important
}

.btn-border-light:focus:disabled {
  border-color: var(--light) !important
}

.btn-border-light:active:disabled {
  border-color: var(--light) !important
}


/* ====>  GENERAL EFFECTS  <==== */

.hov-s1:hover {
  transform: scale(1.01);
}

.hov-s2:hover {
  transform: scale(1.02);
}

.hov-s3:hover {
  transform: scale(1.03);
}

.hov-s4:hover {
  transform: scale(1.04);
}

.hov-s5:hover {
  transform: scale(1.05);
}

.hov-s-lg:hover {
  transform: scale(1.1);
}

.hov-s-xl:hover {
  transform: scale(1.2);
}

.hov-bs1:hover {
  box-shadow: 0 0 0 0.2rem var(--hoverbg) !important;
}

.hov-bs2:hover {
  box-shadow: 0 0 0 0.4rem var(--hoverbg) !important;
}

.hov-bs3:hover {
  box-shadow: 0 0 0 0.6rem var(--hoverbg) !important;
}

.hov-bs4:hover {
  box-shadow: 0 0 0 0.8rem var(--hoverbg) !important;
}

.hov-bs5:hover {
  box-shadow: 0 0 0 1rem var(--hoverbg) !important;
}

.hov-bs-dark:hover {
  --hoverbs: var(--dark);
}

.hov-bs-light:hover {
  --hoverbs: var(--light);
}

.hov-bs-pink:hover {
  --hoverbs: var(--pink);
}

.hov-bs-orange:hover {
  --hoverbs: var(--orange);
}

.hov-bs-blue:hover {
  --hoverbs: var(--blue);
}

.hov-bs-green:hover {
  --hoverbs: var(--green);
}

.hov-bs-red:hover {
  --hoverbs: var(--red);
}

.hov-bs-yellow:hover {
  --hoverbs: var(--yellow);
}

.hov-bs-purple:hover {
  --hoverbs: var(--purple);
}

.hov-bs-cyan:hover {
  --hoverbs: var(--cyan);
}

.hov-bs-none:hover {
  --hoverbs: transparent;
}

/* ========================================================================================================================================================================= */
/* ========================================================================================================================================================================= */

