/*!
 * CStrap v1.0.0
 * Homepage: https://strap.concise.cc
 * Licensed under MIT
 * Section: CStrap Cards
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --dark: #20262E;
  --light: #EFEFF0;
  --cloud: #f8f9fa;
  --clouds: #f0f0f0;
  --milk: #dce1eb;
  --amilk: #d8d8d8;
  --bmilk: #c5c5c5;
  --grey: #8d8d8d;
  --fade: #6c757d;
  --agrey: #828282;
  --bgrey: #30373d;
  --green: #00cc00;
  --agreen: #00ee00;
  --bgreen: #5cb85c;
  --yell: #ffcc00;
  --ayell: #ffbb55;
  --byell: #f0ad4e;
  --orange: #ff7e22;
  --aorange: #e67e22;
  --cyan: #00e6e6;
  --acyan: #00b3b3;
  --byan: #1DDDBD;
  --blue: #0080ff;
  --btnblue: #0b5ed7;
  --ablue: #287bff;
  --bblue: #536878;
  --cblue: #708090;
  --dblue: #536872;
  --eblue: #1b3752;
  --pink: #ff00ff;
  --apink: #ff00cc;
  --red: #dc3545;;
  --purp: #9b59b6;
  --apurp: #7380ec;
  --info: #17a2b8;
  --danger: #ff5782;
  --warning: #ffc107;
  --sea: #009688;

  --font-main:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-mono:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-p:Poppins,sans-serif,Arial,Helvetica,sans-serif;
  --font-n:Nunito,sans-serif,Arial,Helvetica,sans-serif;

  --hover-light: rgba(112,139,200,0.18);
  --hover-dark: rgba(0,0,0,0.25);
  --hoverbs: var(--hover-dark);
  --boxhad-l: 0 2rem 3rem var(--hover-light);
  --boxhad-d: 0 2rem 3rem var(--hover-dark);
  --darkshad: 0 0 0 10px hsla(0,0%,0%,0.1);
}

/* ====>  DEFAULT CARD STYLE  <==== */





/* ========================================================================================================================================================================= */
/* ========================================================================================================================================================================= */

