
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary: #20262E; --cloud: #f6f6f9; --acloud: #dddddd; --milk: #dce1eb; --amilk: #d8d8d8; --bmilk: #c5c5c5; --grey: #8d8d8d; --agrey: #828282; --bgrey: #30373d;
  --green: #00cc00; --agreen: #00ee00; --bgreen: #5cb85c; --yell: #ffcc00; --ayell: #ffbb55; --byell: #f0ad4e; --orange: #ff7e22; --aorange: #e67e22; --cyan: #00e6e6;
  --acyan: #00b3b3; --byan: #1DDDBD; --blue: #0080ff; --btnblue: #0b5ed7; --ablue: #287bff; --bblue: #536878; --cblue: #708090; --dblue: #536872; --eblue: #1b3752;
  --pink: #ff00ff; --apink: #ff00cc; --red: #ED1D24; --purp: #9b59b6; --apurp: #7380ec; --info: #17a2b8; --danger: #ff5782; --warning: #ffc107; --ea: #009688;

  --c-blue:#0d6efd; --c-indigo:#6610f2; --c-purple:#6f42c1; --c-pink:#d63384; --c-red:#dc3545; --c-orange:#fd7e14; --c-yellow:#ffc107; --c-green:#198754;
  --c-teal:#20c997; --c-cyan:#0dcaf0; --c-white:#e8eaec; --c-gray:#6c757d; --c-gray-dark:#343a40; --c-primary:#0d6efd; --c-econdary:#6c757d; --c-uccess:#198754;
  --c-info:#0dcaf0; --c-warning:#ffc107; --c-danger:#dc3545; --c-light:#f8f9fa; --c-dark:#212529; --c-font:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --c-font-monopace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --c-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

  --hovercol: rgba(112,139,200,0.18); --boxhad-light: 0 2rem 3rem var(--hovercol); --boxhad-dark: 0 0 10px rgba(0,0,0,0.5);
  --ff:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --ff1: 'Nunito', sans-serif; --ff2: 'Share Tech Mono', monospace; --ff3: 'Poppins', sans-serif; --ff4: 'Kdam Thmor Pro', serif; --ff5: 'Blinker', sans-serif; --ff6: 'Oswald', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary);
  text-align: left;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: var(--cloud);
  font-family: var(--ff1);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary);
  text-align: left;
}

.bg-d{
  background-color: var(--primary) !important;
}

.bg-l{
  background-color: var(--cloud) !important;
}

.fg-d{
  color: var(--primary) !important;
}

.fg-l{
  color: var(--cloud) !important;
}

.btn{
  display: inline-block;
  font-weight: 400;
  color: var(--cloud);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--c-blue);
  border: 1px solid var(--c-blue);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 0 0.15rem rgba(100, 100, 100, 0.55);
}

.btn:hover{
  color: var(--c-blue);
  background-color: var(--cloud);
  border-color: var(--c-blue);
 transform:scale(1.01);
}

.btn:focus{
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,0.5);
}

.btn:disabled{
  opacity: 0.65;
  border: 1px solid #000;
}

.btn-t{
  color: var(--c-blue);
  background-color: transparent;
  background-image: none;
  border-color: var(--c-blue);
}

cont{
  width: 100%;
  height: 100%;
  inset: 50px;
  position: relative;
}

.df{
  display: flex;
}

.dg{
  display: grid;
}

.tc{
  text-align: center;
}

.ml-1{
  margin-left: 1rem;
}

.mr-1{
  margin-right: 1rem;
}

.mt-1{
  margin-top: 1rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mt-3{
  margin-top: 3rem;
}

.mb-3{
  margin-bottom: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.mb-4{
  margin-bottom: 4rem;
}

.mt-5{
  margin-top: 5rem;
}

.mb-5{
  margin-bottom: 5rem;
}

.aic{
  align-items: center;
}

.jcc{
  justify-content: center;
}

.jcsb{
  justify-content: space-between;
}

.jcfe{
  justify-content: flex-end;
}

.jcfs{
  justify-content: flex-start;
}

.w-100{
  width: 100%;
}













